<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/image/icon-book-shop-64.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/layout.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header class="header">
        <nav class="header--navbar grid wide row">
            <a class="navbar_brand c-3 " asp-area="" asp-controller="Book" asp-action="Home">
                <img class="navbar_brand--icon" src="~/image/icon-book-shop-64.png" />&nbsp;
                <span class="navbar_brand--name">Bookstore</span>
            </a>
            <div class="c-4 search-bar row" asp-action="AddOrEditBook"  >
                @using (Html.BeginForm("GetBookSearch", "Book", FormMethod.Post))
                {
                    <input name="key" class="m-9 l-10 search-input" type="search" placeholder="Search" aria-label="Search" >
                    <button class=" m-3 l-2 btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                }
            </div>
            <ul class="navbar_nav c-5">
                <li class="nav_item">
                    <a class="nav_link text-dark" asp-area="" asp-controller="Item" asp-action="UserCart">
                        <i class="fas fa-shopping-cart"></i>
                        Giỏ hàng
                    </a>
                </li>
                <li class="nav_item">
                    <a class="nav_link text-dark" asp-area="" asp-controller="User" asp-action="UserOrder">
                        <i class="fas fa-history"></i>
                        Lịch sử
                    </a>
                </li>

                <li class="nav_item">
                    <a class="nav_link text-dark" asp-area="" asp-controller="User" asp-action="UserInfo">
                        <i class="far fa-user-circle"></i>
                        Cá nhân
                    </a>
                </li>
                <li class="nav_item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav_link" asp-area="" asp-controller="Auth" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Đăng xuất
                        </a>
                    }
                    else
                    {
                        <a class="nav_link" asp-area="" asp-controller="Auth" asp-action="Login">
                            <i class="fas fa-sign-in-alt"></i>
                            Đăng nhập
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="grid wide">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="grid wide row">
            <div class="col c-4">
                <strong>GIỚI THIỆU</strong>
                <div class="content">
                    Bookstore.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Bookstore trên toàn quốc.
                </div>
            </div>
            <div class="col c-4">
                <strong>LIÊN HỆ</strong>
                <div class="content">
                    60-62 Lê Lợi, Q.1, TP. HCM
                </div>
            </div>
            <div class="col c-4">
                <strong>TRUY CẬP NHANH</strong>
                <div class="content">
                    Bookstore.com
                </div>
            </div>
        </div>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
