.book-detail {
    margin-top: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    line-height: 1.2;

    p {
        margin-top: 8px;
    }

    .book-price {
        font-weight: bold;
        font-size:1.5rem;
        margin: 5px 0;
    }

    .img-book {
        height: 350px;
        width: auto;
    }

    .btn-add-cart {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #218838;
            border-color: #1e7e34;
        }
    }

    .input-quantity {
        display: inline-block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
}

.book-description {
    margin-top: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    padding: 8px;

    .description-title, .description-content {
        margin-bottom: 0.5rem;
    }
}


.review {
    margin-top: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    line-height: 1.2;

    &-title {
        padding: 4px;
    }

    &-container {
        display: flex;
        justify-content: left;

        .comment {
            margin-bottom: 1rem;
            text-align: center;

            textarea {
                display: block;
                width: 100%;
                height: calc(1.5em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;

                &:focus {
                    color: #495057;
                    background-color: #fff;
                    border-color: #80bdff;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
                }
            }
        }

        .btn-send {
            cursor: pointer;
            border-radius: 15px;
            color: #fff;
            height: 49px;
            width: 100%;
            display: block;
            background-color: #ffc107;
            border-color: #ffc107;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;

            &:hover {
                background-color: #e0a800;
                border-color: #d39e00;
            }
        }

        .message-login {
            margin-left: 5%;
            color: green;
            font-size: 20px;
            font-weight: bold
        }

        #inform-review-message {
            color: red;
            font-size: 20px;
            font-weight: bold
        }

        #btn-review-again {
            cursor: pointer;
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
            display: inline-block;
            font-weight: 400;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
        }
    }
}

.list-comment {
    background-color: white;
    border-top: 1px solid #dee2e6;
    
    .comment-wrap {
        padding: 0.5rem 0;
        border-bottom: 1px solid #dee2e6;

        .img-circle {
            width: 60px;
        }

        p {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            font-size: 1rem;
        }
    }
}

.card-review {
    width: 350px;
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 12px
}

.circle-image img {
    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer
}

.dot {
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    top: -48px;
    left: 186px;
    z-index: 1000
}

.name {
    margin-top: -21px;
    font-size: 18px
}

.fw-500 {
    font-weight: 500 !important
}

.start {
    color: orange
}

.stop {
    color: red
}

.rate {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating > input {
    display: none
}

.rating > label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important
}

.rating > input:checked ~ label:before {
    opacity: 1
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4
}

.buttons {
    top: 36px;
    position: relative
}

.rating-submit {
    border-radius: 15px;
    color: #fff;
    height: 49px
}

.rating-submit:hover {
    color: #fff
}

