
body {
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    background-color: steelblue;
    display: flex;
    min-height: 65px;
    align-items: center;

    a {
        text-decoration: none !important;
        color: white !important;
    }

    &--navbar {
        .navbar_brand {
            font-size: 1.5rem !important;
            display: flex;
            align-items: center;

            &--icon {
                width: 50px;
            }

            &--name {
                font-weight: 100;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        .navbar_nav {
            display: flex;
            justify-content: end;
            align-items: center;
            text-align: center;
            list-style-type: none;
            .nav_item{
                margin-left: 30px;

                :hover{
                    color:aquamarine;
                }
            }
        }
    }
}

.container{
    margin:10px 0;
}

.text-muted {
    color: #6c757d;
}
.text-danger {
    color: #dc3545
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    justify-content:end;
    list-style: none;
    border-radius: 0.25rem;
    margin-top:10px;

    .page-item {
        margin-left: 2px;
        margin-right: 2px;


        &_btn {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            font-size: 1rem;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            text-decoration:none;

            &:hover {
                z-index: 2;
                color: #0056b3;
                text-decoration: none;
                background-color: #e9ecef;
                border-color: #dee2e6;
            }

            &.active {
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
            }
        }
    }
}





.footer {
    width: 100%;
    background-color: white;
    width: 100%;
    padding: 20px 0;
    margin-top: 25px;

    .content {
        margin-top: 5px;
        word-wrap: break-word;
    }
}