body {
    background-color: #F5F5F5;
}


.header {
    background-color: steelblue;
    display: flex;
    min-height: 65px;
    align-items: center;

    a {
        text-decoration: none !important;
        color: white !important;
    }

    &--navbar {
        .navbar_brand {
            font-size: 1.5rem !important;
            display: flex;
            align-items: center;

            &--icon {
                width: 50px;
            }

            &--name {
                font-weight: 100;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        .navbar_nav {
            display: flex;
            justify-content: end;
            align-items: center;
            text-align: center;
            list-style-type: none;
            .nav_item{
                margin-left: 30px;

                :hover{
                    color:aquamarine;
                }
            }
        }
    }
}

.container{
    margin:10px 0;
}


.footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;

    .content {
        margin-top: 5px;
        word-wrap: break-word;
    }
}