@model Bookstore_AspDotNET_MVC.Models.LoginModel

@{
    var mes = TempData["ThongBao"] as string;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/image/icon-book-shop-64.png" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="wrapper">
        <form class="login" asp-action="Login">
            <p class="title">Trang đăng nhập</p>
            <input asp-for="UserName" placeholder="Username" autofocus />
            <i class="fa fa-user"></i>
            <input asp-for="Password" placeholder="Password" />
            <i class="fa fa-key"></i>
            <a href="#">Forgot your password?</a>
            <button type="submit" value="Login">
                <i class="spinner"></i>
                <span class="state">Đăng nhập</span>
            </button>
        </form>
        <footer>
            <a asp-controller="Book" asp-action="Home">BOOK STORE</a>
        </footer>
    </div>
</body>
</html>